.splide__slide {
  padding: 0.5rem;
  width: 20rem;
  height: 40rem;
}

.Arrow#next {
  background: blue;
}

.splide__pagination__page {
  display: none;
}

.is-active {
  transition: all 0.2s;
}

.splide__slide:not(.is-active) {
  transition: all 0.2s;
  transform: scale(90%);
}
