.event-container {
  display: flex;
  width: 100vw;
  margin-top: 0rem;
  padding-left: 5rem;
}

.event-frame {
  width: 80%;
}
.hybrid-detail {
  width: 200px;
  height: 55px;
  border: 3px solid var(--main-orange);
  cursor: pointer;
  left: 2rem;
  position: absolute;
}

.hybrid-title {
  height: 40px;
  padding: 0.8rem;
  font-size: xx-large;
  background: var(--blackish);
  font-family: "Zilla Slab", bold;
  color: var(--beige);
  cursor: pointer;
  position: relative;
}

.event-text {
  top: 3rem;
  left: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.microphone {
  height: 40vw;
}
