footer img {
  width: 6rem;
}

footer .footer_container {
  display: flex;
  border-top: 3px solid var(--main-orange);
  border-bottom: 3px solid var(--main-orange);
}

footer .footer_container .left {
  display: flex;
  border-right: 3px solid var(--main-orange);

  padding-left: 1rem;
}

footer .footer_container .left img {
  width: 40%;
  max-width: 200px;
  margin: 1rem 0rem;
}

footer .footer_container .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer .footer_container .right div {
  display: flex;
  align-items: center;
}

footer .footer_container .right img {
  width: 9rem;
}

footer .footer_container .right .letter_container {
  margin-left: 1.3rem;
}

footer .footer_container .right .phone {
  width: 13rem;
  transform: rotate(180deg);
}

footer .footer_container h2 {
  font-size: 3rem;
  font-weight: bold;
}

footer .links_container {
  display: flex;
}
