footer img {
  width: 6rem;
}

footer .footer_container {
  display: flex;
  border-top: 3px solid var(--main-orange);
  border-bottom: 3px solid var(--main-orange);
}

footer .footer_container .left {
  display: flex;
  width: 40%;
  border-right: 3px solid var(--main-orange);
  max-width: 35rem;

  justify-content: end;
}

footer .footer_container .left div {
  margin: 2rem;
}

footer .footer_container .left img {
  width: 40%;
  max-width: 200px;
  margin: 1rem 0rem;
}

footer .footer_container .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer .footer_container .right div {
  display: flex;
  align-items: center;
}

footer .footer_container .right img {
  width: 9rem;
}

footer .footer_container .right .letter_container {
  margin-left: 1.3rem;
}

footer .footer_container .right .phone {
  width: 13rem;
  transform: rotate(180deg);
}

footer .footer_container h2 {
  font-size: 3rem;
  font-weight: bold;
}

footer .links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;

  border-bottom: 3px solid var(--main-orange);
}

footer .links_container .links_icon {
  width: 20rem;
}

footer .links_container .links {
  list-style: none;
  display: flex;

  justify-content: space-between;
}

footer .links_container .links li {
  font-size: 2rem;
  margin: 0rem 1rem;
}

footer .copy_right_frame {
  height: 5rem;
  border-bottom: 3px solid var(--main-orange);
  font-size: 1.7rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.roof {
  display: block;
  width: 100vw;
}

@media screen and (max-width: 1200px) {
  footer .footer_container .left div {
    margin: 2rem;
  }

  footer .footer_container .left {
    display: flex;
    width: 60%;
    border-right: 3px solid var(--main-orange);
    max-width: 35rem;

    justify-content: end;
  }
}

@media screen and (max-width: 1020px) {
  footer .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .footer_container .left {
    display: flex;
    width: 100%;
    max-width: 100%;
    border-bottom: 3px solid var(--main-orange);
    justify-content: space-between;
  }

  footer .footer_container {
    display: flex;
    flex-direction: column;
  }

  footer .links_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
  }

  footer .links {
    border-bottom: 3px solid var(--main-orange);
    width: 100%;

    justify-content: center;
    align-items: center;
  }
}
