.menu-hamburger {
  display: none;
  background: green;
  z-index: 20;

  transition: all 0.5s;
}

.menu-open {
  background: var(--beige);
  width: 100vw;
  height: 120vh;

  position: fixed;
  left: 0;
  top: 0;

  transition: all 0.5s;
  z-index: 2;
  display: block;
  opacity: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 20rem;
  margin-top: 8rem;
}

.menu-item a {
  font-size: 4rem;
  margin: 2rem 0rem;
  text-decoration: none;
  color: var(--blackish);
}

header .menu-toggle {
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  z-index: 10;
}

.under {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

.under div {
  margin: 2rem;
}

.under .half-circle {
  width: 30%;
}

@media screen and (min-width: 600px) {
  header .menu-toggle {
    display: none;
  }
}
