header {
  width: 100vw;
  display: flex;
  border-bottom: 3px solid var(--main-orange);
  align-content: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .logo_container {
  display: flex;
  border-right: 3px solid var(--main-orange);
  height: 100%;
}

header .logo {
  font-weight: 700;
  font-size: 15px;
  color: black;
  margin: 0rem 0.5rem;
}

header .header {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0rem;
}

header .header-item {
  list-style: none;
  border-left: 3px solid var(--main-orange);
  padding: 0rem 2rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .circle {
  height: 100%;
}

@media screen and (max-width: 600px) {
  header .header {
    display: none;
  }
}
