.planet_section {
  position: relative;

  margin-top: 20vw;
  height: 100vw;
}

.planet_section h2 {
  background: var(--blackish);
  color: white;
  font-size: 5vw;
  margin: 0rem;
}

.planet_section p {
  font-size: 2vw;
  margin: 1rem 0rem;
}

.planet_section .test_drive {
  width: 50%;

  position: absolute;
  left: 5rem;
}

.planet_section img {
  width: 100%;
}

.planet_section .saturn {
  width: 40%;

  position: absolute;
  right: 1rem;
  top: 20vw;
}

.planet_section .detail {
  width: 25%;
  height: 3rem;
  border: 3px solid var(--main-orange);

  position: absolute;
  z-index: -1;
  top: -2rem;
  left: 2rem;
}

.planet_section .astro {
  width: 30%;

  position: absolute;
  left: 2rem;
  bottom: 6rem;
}

.planet_section .astro_info {
  width: 50%;

  position: absolute;
  right: 4rem;
  bottom: 6rem;
}

@media screen and (max-width: 600px) {
  .planet_section {
    margin-top: 20vw;
    height: 100vw;

    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .planet_section .test_drive {
    width: 50%;

    position: static;
    left: 5rem;
  }

  .planet_section .saturn {
    width: 40%;

    order: -1;
    position: static;
    right: 1rem;
    top: 20vw;
  }

  .planet_section .detail {
    display: none;
  }

  .planet_section .astro {
    width: 30%;

    position: static;
    left: 2rem;
    bottom: 6rem;
  }

  .planet_section .astro_info {
    width: 50%;

    position: static;
    right: 4rem;
    bottom: 6rem;
  }
}
