:root {
  --main-orange: #f25828;
  --red-fade: rgba(242, 88, 40, 0.59);
  --blackish: #212121;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Zilla Slab", normal;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.seal {
  width: 100vw;
}
