:root {
  --main-orange: #f25828;
  --red-fade: rgba(242, 88, 40, 0.59);
  --blackish: #212121;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Zilla Slab", normal;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.seal {
  width: 90vw;
}
.seal-container {
  display: flex;
  justify-content: center column;
  align-items: column;
  text-align: center;
  flex-direction: column;
}

.seal-button {
  background-color: #212121;
  width: 20rem;
  height: 5rem;
  color: white;
}

.contact {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: var(--main-orange) solid 2px;
  background: none;
}
